

h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    margin-top: 35px;
    margin-bottom: 15px;
}

#intro {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 80px;
    text-indent: 2cm;
    text-align: justify;
}

img {
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.side {
    grid-area: sidebar;
  }

.side {
    grid-area: sidebar2;
  }

.in {
    grid-area: content;
  }

.up {
    grid-area: header;
  }

.down {
    grid-area: footer;
  }

// AB
.ab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 25px;
}

// BODY
body {
    background-color: #eda27c;
    font-family: "Lato", sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

// TABLE
table {
    width: 50%;
    min-width: 250px;
    margin-bottom: 25px;
}

th, td {
    border: 2.5px solid white;
    padding: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    color: black;
}

th {
    margin-top: 25px;
    font-weight: 1000;
    background-color: white;
}

td {
    font-weight: normal;
}

td:nth-child(1) {
    font-weight: italic;
}

tr {
    background-color: #7ea8bf;
}

tr:nth-child(even) {
    background-color: rgb(73, 146, 166);
}

