

h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    margin-top: 35px;
    margin-bottom: 15px;
}

#intro {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: justify;
}

#intro2 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 80px;
    text-indent: 1cm;
    text-align: justify;
}

#head {
    font-weight: bold;
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: justify;
}

img {
  border-radius: 8px;
}

/*
img2 {
    height: 250px ;
    width: 60%;
  margin-left: 180px;}
*/

iframe {
    display: block;
    margin: 0 auto 20px auto;
    width: 650px;
    height: 400px;
    border: none;
}

/* GRID */
.box {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 10px;
  font-size: 150%; 
}

.side {grid-area: side;}
.side {grid-area: side2;}
.in {grid-area: content;}
.up {grid-area: up;}
.down {grid-area: down; }

.grid {background-color: black;
    color: white;}

  .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "up"
     "side"
     "content"
     "side2"
     "down"
  }

  @media only screen and (min-width: 500px)  {
  .grid {
    grid-template-columns: 20% auto;
    grid-template-areas:
    "up    up"
    "side  content"
    "side2 side2"
    "down  down";
  }
  }

  @media only screen and (min-width: 600px)   {
    .grid {
      grid-gap: 20px;
      grid-template-columns: 120px auto 120px;
      grid-template-areas:
      "up      up      up"
      "side content side2"
      "down   down   down";
      max-width: 600px;
    }
  }

.header,
.footer {
  background-color: black;
}

.sidebar2 {
  background-color: white;
  color: black;
}

.container {
  text-align: center;
  padding: 10px 20px;
}


/* BODY */
body {
    background-color: #eda27c;
    font-family: "Lato", sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.ab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 25px;
}

/* TABLE */
table {
    width: 50%;
    min-width: 250px;
    margin-bottom: 25px;
}

th, td {
    border: 2.5px solid white;
    padding: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    color: black;
}

th {
    margin-top: 25px;
    font-weight: 1000;
    background-color: white;
}

td {
    font-weight: normal;
}

td:nth-child(1) {
    font-weight: italic;
}

tr {
    background-color: #7ea8bf;
}

tr:nth-child(even) {
    background-color: rgb(73, 146, 166);
}

