
.mySlides {display: none}

// AB
.ab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 25px;
}

// BODY
body {
    background-image: url("PA1Assets/Background.png");
    background-color: #3a4846;
    font-family: "Lato", sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

// TABLE
table {
    width: 50%;
    min-width: 250px;
    margin: 0 auto;
}

th, td {
    border: 2.5px solid white;
    padding: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    color: black;
}

th {
    font-weight: 800;
    background-color: white;
}

td {
    font-weight: normal;
}

td:nth-child(1) {
    font-weight: italic;
}

tr {
    background-color: #5692b3;
}

tr:nth-child(even) {
    background-color: rgb(73, 146, 166);
}

