<div class="container py-5 px-5 px-md-auto">
    <div class="bubble" id="welcome">
        <h1 class="text-center">
            <span class="h1">Welcome ☺</span><br>
        </h1>
    </div>

    <h3 class="h3 mt-5 pb-2 text-center" style="text-decoration: underline;">Dashboard</h3>

    <div id="dashboard">
        <div class="row mt-4 gy-5 gy-md-0">
            <div class="col">
                <div class="board mx-auto">
                    <a href="/students" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <h3 class="button-font text-center">Students</h3>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="board mx-auto">
                    <a href="/teachers" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <h3 class="button-font text-center">Teachers</h3>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="board mx-auto">
                    <a href="/subjects" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <h3 class="button-font text-center">Subjects</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
