<div class="container py-5 px-5 px-md-auto">
    <h1 class="h1 mt-5 pb-2 text-center" style="color: white">Dashboard</h3>

    <div id="dashboard">
        <div class="row mt-4 gy-5 gy-md-0">
            <div class="col">
                <div class="board mx-auto">
                    <a href="/students" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <h3 class="button-font text-center">Students</h3>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="board mx-auto">
                    <a href="/teachers" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <h3 class="button-font text-center">Teachers</h3>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="board mx-auto">
                    <a href="/subjects" class="d-flex flex-column justify-content-center h-100 my-auto">
                        <h3 class="button-font text-center">Subjects</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
